@model IEnumerable<Department>

@{
    ViewData["Title"] = "Add new major";
}

<div class="d-flex justify-content-center">
    <form action="" method="post" class="w-25 d-flex flex-column align-items-center">
        <input class="w-100 mt-2 p-2 rounded-2" name="Name" placeholder="Major name" />
        <input class="w-100 mt-2 p-2 rounded-2" name="Description" placeholder="Description" />
        <input class="w-100 mt-2 p-2 rounded-2" name="TotalHours" placeholder="Total hours" type="number" />
        <label class="w-100 mt-2 rounded-2" for="department">Choose a department</label>
        <select class="w-100 mt-2 p-2 rounded-2" name="DepartmentId" id="department">
            @foreach(var item in Model)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <button class="text-center bg-primary p-2 text-decoration-none text-white rounded-2 w-100 mt-2" type="submit">ADD</button>
    </form>
</div>