


<div class="w-100 mt-lg-5 d-flex flex-column justify-content-center align-items-center">
    <h1>You successfully logged out.</h1>
    <a class="mt-5 w-25" href="/students/login"><button class="w-100 btn-primary p-3 rounded-3">LOGIN</button></a>
</div>